static/schemes/xsd_docs/smartSpaceScheme.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vX">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:element name="base" type="xs:string" />
                <xs:element name="interaction">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="property">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="keyword" type="xs:string" />
                                        <xs:element name="idvSpace" type="xs:unsignedByte" />
                                        <xs:element name="classifier" type="xs:string" />
                                        <xs:element name="description" type="xs:string" />
                                        <xs:element name="locationName" type="xs:string" />
                                        <xs:element name="address" type="xs:string" />
                                        <xs:element name="geoclass" type="xs:string" />
                                        <xs:element name="geoidentifier" type="xs:unsignedInt" />
                                        <xs:element name="featureCode" type="xs:string" />
                                        <xs:element name="latitude" type="xs:decimal" />
                                        <xs:element name="longitude" type="xs:decimal" />
                                        <xs:element name="elevation" type="xs:unsignedByte" />
                                        <xs:element name="membership" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="action" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="administratedBy" type="xs:string" minOccurs="0" />
                                        <xs:element name="composedBy" type="xs:string" minOccurs="0" />
                                        <xs:element name="hostedAt" type="xs:string" minOccurs="0" />
                                    </xs:sequence>
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>